<!DOCTYPE html>
<!-- Heather Switzer-->
<!-- HTML and CSS adapted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal -->

<!DOCTYPE html>
<html>
	<head>
		<title>C++ FAQ </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	</head>
	<body>
		<ul>
			<li id="nav-logo"> <img id="logo" src="../static/logo.svg"></img></li>
			<li id="nav-title"><a id="title" href="{{url_for('courses')}}">Courses</a></li>
			<li id="nav-sandox"><a id="sandbox" href="{{url_for('sandbox')}}">Sandbox</a></li>
			<li id="nav-faq"><a id="faq" href="{{url_for('faq')}}">FAQ</a></li>
			<li id="nav-about"><a href="{{url_for('about')}}">About</a> </li>
			<li id="nav-logout", style="float:right"><a href="{{url_for('logout')}}"> Logout </a> </li>
		</ul>
		<div>
         	        <p id="nav-logged">Logged in as: {{user}}</p>
			<div class="imgcontainer">
				<img src="{{url_for('static', filename='logo.svg')}}" alt="Avatar" class="avatar">
			</div>
			<h2><b>Meet Foobar!</b></h2>
			<h3>Click the team member you'd like to get to know.</h3>
                 	<button class="memcollapsible"><img style="border-radius:50%; width:5%; padding:5px; vertical-align:middle" src="{{url_for('static', filename='Ben.jpg')}}"><font size="+2"> Benjamin 'The Beard' Byrnes</font></button>
             		<div class="content">
                		 <div>Ben is a young bearded wizard hailing from the Burg of William. Some say his beard can not be cut and is made from copper from the caverns of Quebec. With tongue as sharp as his wit, he confounds his enemies leaving none spared.</div>
                	</div>
                  	<button class="memcollapsible"><img style="border-radius:50%; width:5%; padding:5px; vertical-align:middle" src="{{url_for('static', filename='Jacob.jpg')}}"><font size="+2">Jacob 'Myth Wizard' Carney</font></button>
             		<div class="content">
                		 <div>Jacob is a hobbit from the shire. One day he comes across a magical ring that seems to have special powers. After learning of the dangers of the ring, he sets forth with his friends to destroy the ring. Wait, am I telling the right story? Either way, dat's pretty neat.</div>
                	</div>         
                  	<button class="memcollapsible"><img style="border-radius:50%; width:5%; padding:5px; vertical-align:middle" src="{{url_for('static', filename='Jonathan.jpg')}}"><font size="+2">Jonathan 'Gum Eater' Gunter</font></button>
             		<div class="content">
                		 <div>Jonathan once fought 60 men with only his pinky finger and is said to live of nothing but gum. is enemies cower before his strength.</div>
                	</div>         
                  	<button class="memcollapsible"><img style="border-radius:50%; width:5%; padding:5px; vertical-align:middle" src="{{url_for('static', filename='Joe.jpg')}}"><font size="+2">Joe 'Harpoon' Harp</font></button>
             		<div class="content">
                		 <div>Joe has a heart of iron and also a harpoon of iron. Don't mess with him.</div>
                	</div>         
                  	<button class="memcollapsible"><img style="border-radius:50%; width:5%; padding:5px; vertical-align:middle" src="{{url_for('static', filename='Brandon.jpg')}}"><font size="+2">Brandon 'BTreyL' Lewis</font></button>
             		<div class="content">
                		 <div>Brandon is not a wizard but he does live in a cave somewhere in the far beyond. It is said if you find him he when warn you that it is dangerous to go alone and give you a sword.</div>
                	</div>         
                  	<button class="memcollapsible"><img style="border-radius:50%; width:5%; padding:5px; vertical-align:middle" src="{{url_for('static', filename='Heather.jpg')}}"><font size="+2">Heather 'Pisano Period' Switzer</font></button>
             		<div class="content">
                		 <div>Heather is a double major of Mathematics and Computer Science at Longwood University. She enjoys anime and bad rom-com movies. Occasionally she bird-watches, but gives up after about 15 minutes of staring blankly at one bird trying to figure out what it is. They say if you leave a cat in a room long enough, she will appear.</div>
                	</div>         
                  	<button class="memcollapsible"><img style="border-radius:50%; width:5%; padding:5px; vertical-align:middle" src="{{url_for('static', filename='Tyler.jpg')}}"><font size="+2">Tyler 'Trendy Man' Zamora-Carden</font></button>
             		<div class="content">
                		 <div>We all wish we could dress as well as Tyler. All praise Tyler's fashion choices. When he is not pretending to be a computer sicence major, he yells at middle school girls.</div>
                	</div>         
                 	</div>
                </div>

                <script src="../static/collapsable_list.js"></script>

		</div>
	</body>
</html>
