<!-- Benjamin Byrnes, CMSC461, courses.html -->

<html>
	<head>
		<title>C++ Courses</title>
	</head>
	<body>
		<header>
			<div style='position:fixed;'>Logged in as: {{user}}</div>
			<div style='position:fixed; left:46.5%;'>Courses</div>
			<a href="{{url_for('logout')}}" class='logout' style='position:fixed; left:90%;'><button>Logout</button></a>
		</header>
		<!--<center><h1>Courses</h1></center>-->
		<div class='content' style='position:fixed; top:30px'>
			Nothing goes here yet.
		</div>
	</body>
</html>
