<!-- Benjamin Byrnes, CMSC461, courses.html -->

<html>
	<head>
		<title>C++ Courses</title>
	</head>
	<body>
		<header style='position:fixed;'>
			<div style='position:fixed; left:1%;'>Logged in as: {{user}}</div>
			<div style='position:fixed; left:46%; font-size:32px;'>Courses</div>
			<a href="{{url_for('logout')}}" class='logout' style='position:fixed; left:92%;'><button>Logout</button></a>
		</header>
		<!--<center><h1>Courses</h1></center>-->
		<div class='content' style='position:fixed; top: 5%;'>
			Nothing goes here yet.
		</div>
	</body>
</html>
