<!DOCTYPE html>
<html>
	<head>
		<title>Create Assignment</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	</head>
<body>
	<div>
	<!-- Navigation Bar-->
		<ul>
			<li id="nav-logo"> <img id="logo" src="../static/logo.svg"></img></li>
			<li id="nav-title"><a id="title" href="{{url_for('courses')}}">Courses</a></li>
			<li id="nav-faq"><a id="faq" href="{{url_for('faq')}}">FAQ</a></li>
			<li id="nav-about"><a href="{{url_for('about')}}">About</a> </li>
			<li id="nav-logout", style="float:right"><a href="{{url_for('logout')}}"> Logout </a> </li>
		</ul>
	<div>
	<!-- Create Assignment Form -->
		<form method="POST">
			<h3>Create New Assignment:</h3>
			<label for="title"><b>Assignment Title:</b></label>
                        <input type="text" placeholder="Enter Title" name="title" required>
			<br /><br />

			<label for="dueDate"><b>Due Date</b></label>
                        <input type="text" placeholder="DD/MM/YYYY" name="dueDate" required>
			<br /><br />

			<label for="assignmentDesc"><b>Assignment Details</b></label>
			<br />
                        <input type="text" placeholder="Enter Assignment Details" name="assignmentDesc" required>
			<br /><br />
			<div name='errordiv' class='errmsg'>{{error}}</div>
			<button type="submit">Submit</button>
	</div>
</body>
</html>
