<!--Benjamin Byrnes, 461, login.html-->
<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<title>C+++ Login</title>
	</head>

	<body>
		<div class="loginPrompt">
			<form method="POST">
				<div>User Name:</div>
				<div><input type="text" name="username"></input></div>
				<div>Password:</div>
				<div><input type="password" name="password"></input></div>
				<div name='errordiv' class='errormsg'>{{loginerror}}</div>
				<div><input type="submit" value="Sign in!" onclick="validate();"></input></div>
			</form>
		</div>
	</body>
</html>
