<!DOCTYPE html>
<html>
	<head>
		<title>My Courses</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	</head>
	<body>
		<!--Navigation Bar-->
		<ul>
			<li id="nav-logo"> <img id="logo" src="../static/logo.svg"></img></li>
			<li id="nav-title"><a id="title" href="{{url_for('courses')}}">Courses</a></li>
			<li id="nav-faq"><a id="faq" href="{{url_for('faq')}}">FAQ</a></li>
			<li id="nav-about"><a href="{{url_for('about')}}">About</a> </li>
			<li id="nav-logout", style="float:right"><a href="{{url_for('logout')}}"> Logout </a> </li>
		</ul>
		<div>
			<p id="nav-logged">Logged in as: {{user}}</p>
		</div>
		<!--Autofilled courses drop down menu with editing option button-->
			{% for c in courses %}
			<a href="{{url_for('editCourse', courseID=c[1])}}"><img style="width:2%; height:2%; float:right; margin-top:22px" src="../static/editButton.png"></a>
			<button class="Profcollapsible">{{c[0]|safe}}</button>
			<div class="content">
				{% for a in c[2] %}
				<a href="{{url_for('assignmentsID', assignmentID=a[1])}}"><button class="Profcollapsible">{{a[0]|safe}}</button></a>
				<a href="{{url_for('editAssignment', assignmentID=a[1])}}"><img style="width:1.5%; height:1.5%; float:right; margin-top:20px" src="../static/editButton.png"></a>
				{% endfor %}
				<a href="{{url_for('createAssignment', courseID=c[1])}}"><button class="Profcollapsible"><b>+ Create New Assignment</b></button></a>
			</div>
			{% endfor %}
			<a href="{{url_for('create')}}"><button class="Profcollapsible"><b>+ Create New Course</b></button></a>
		</div>
		<script src="../static/collapsable_list.js"></script>
		<div name='errordiv' class='errmsg'>{{error}}</div>

	</body>
</html>
