<!DOCTYPE html>
<html>
	<head>
		<title>Test Cases</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	</head>
	<body>
		<div>
			<!--Navigation Bar-->
		<ul>
			<li id="nav-logo"> <img id="logo" src="../static/logo.svg"></img></li>
			<li id="nav-title"><a id="title" href="{{url_for('courses')}}">Courses</a></li>
			<li id="nav-faq"><a id="faq" href="{{url_for('faq')}}">FAQ</a></li>
			<li id="nav-about"><a href="{{url_for('about')}}">About</a> </li>
			<li id="nav-logout", style="float:right"><a href="{{url_for('logout')}}"> Logout </a></li>
		</ul>
		</div>
		<div>
			<p id="nav-logged">Logged in as: {{user}}</p>
		</div>
		<!--Create new test case form-->
		<h1><b>Test Cases for: {{title}}</b></h1>
		<form method="POST">
			<h2>Create a New Test Case:</h2>

			<div class="testCaseInput">
				<b>Input: </b> &ensp;
				<input type="text" name="input" placeholder="Input" required/>
			<br/>
				<b>Output:</b>
				<input type="text" name="output" placeholder="Expected Output" required/>
			<br/>
			</div>
			<br/>
			<div>
				<b>Type of Test Case:</b><br/>
				<input type="radio" name="caseType" value="PUBLIC">Public Case</input>
				<input type="radio" name="caseType" value="HIDDEN">Hidden Case</input>
			</div>
			<br/> <br/>
			<div name='errordiv' class='errmsg'>{{error}}</div>
			<div style="width:100%; left:25%">
				<button type="submit" name="newTest" value="newTest" style="width:24.7%">Add New Test Case</button></a>
				<a href="{{url_for('assignmentsID', assignmentID=assignmentID)}}"><button type="button" name="testCases" value="testCases">Return to Assignment</button></a>
			</div>
		</form>
		<br/>
		<!--List of current test cases-->
		<h2>Current Test Cases:</h2>
		<div class="testCaseTitle">
			<h3>INPUT</h3>
		</div>
		<div class="testCaseTitle">
			<h3>OUTPUT</h3>
		</div>
		<div>
			{% for t in cases %}
			<div class = "testCase">{{t[0]|safe}}</div>
			<div class = "testCase">{{t[1]|safe}}</div>
			{% endfor %}
		</div>
	</body>
</html>
