<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
		<script type="text/javascript" src="{{url_for('static', filename='tab.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='upload.js')}}"></script>
	</head>
	<body>
	<!--Navigation Bar-->
		<ul>
		<li id="nav-logo"> <img id="logo" src="../static/logo.svg"></img></li>
		<li id="nav-title"><a id="title" href="{{url_for('courses')}}">Courses</a></li>
		<li id="nav-faq"><a id="faq" href="{{url_for('faq')}}">FAQ</a></li>
		<li id="nav-about"><a href="{{url_for('about')}}">About</a> </li>
		<li id="nav-logout", style="float:right"><a href="{{url_for('logout')}}"> Logout </a></li>
	</ul>
	<div>
		<p id="nav-logged">Logged in as: {{user}}</p>
		<a href="{{url_for('test', assignmentID=assignmentID)}}"><button type="button" name="testCases" value="testCases" style="width:25%; float:right">My Test Cases</button></a> 
		<h1>{{title}}</h1>
		<h2>Due Date: {{date}}</h2>
		<p>{{body}}</p>
	</div>
	<form method="POST" enctype=multipart/form-data>
	<!--Select a student to veiw their assignment-->
	<div style="float:left">
		<b>Select student to grade:</b>
		<select name="student">
		<option value="default">None selected</option>
		{% for u in uploads %}
		<option value="{{u[2] | safe}}" {% if userID==u[2]|safe %} selected="selected" {% endif %}>{{u[0] | safe}} {{u[1] | safe}}</option>
		{% endfor %}
		</select>
	</div>

	<br /></br /><br />
	<!--Select a timeout (used for infinite loops)-->
	<div style="float:left">
	<b>Select Timeout (in seconds):</b>
	<select name="timeout">
		<option value="30">30</option>
		<option value="60">60</option>
		<option value="120">120</option>
		<option value="300">300</option>
		<option value="600">600</option>
		<option value="1200">1200</option>
	</select>
	</div>

	<br /><br /><br />

	<!--Button options-->
	<div style="width:100%">
	<nav class="testCaseBtn">
		<button type="submit" name="sandbox" value="compile">Compile</button>
		<button type="submit" name="sandbox" value="runCases">Run Test Cases</button>
		<a href="{{url_for('grade', assignmentID=assignmentID, userID=userID)}}"><button type="button">Grade</button></a>
	</nav>
	</div>

	<br />

	<!--Code display/input/output-->
	<div>
	<label for="code" style="width:59%"><b>CODE HERE:</b></label>
	<label for="cin" style="display:inline-block; width:40%; float:right"><b>INPUT HERE:</b></label><br/>
	<textarea type="text" id="code" name="code" class="codeBox" onkeydown="tab(this, event);">{{code}}</textarea>

	<textarea type="text" name="cin" class="inputBox" placeholder="Input Values Here."></textarea>
	<br /> <br /> <br />
	<label for="output"><b>OUTPUT HERE:</b></label>
	<textarea disabled type="text" name="output" id="output" class="outputBox">{{output}}</textarea>

	</div>

</form>
<div name='errordiv' class='errmsg'>{{error}}</div>
</body>
</html>
