<!DOCTYPE html>
<!-- Heather Switzer -->
<html>
	<head>
		<title>C++ Sandbox</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
		
	</head>
	<body>
		<div>
			<!-- logo div-->
			<ul>
				<li id="nav-logo"> <img id="logo" src="../static/logo.svg"></img></li>
				<li id="nav-title"><a id="title" href="{{url_for('courses')}}">Courses</a></li>
				<li id="nav-sandox"><a id="sandbox" href="{{url_for('sandbox')}}">Sandbox</a></li>
				<li id="nav-faq"><a id="faq" href="{{url_for('faq')}}">FAQ</a></li>
				<li id="nav-logout", style="float:right"><a href="{{url_for('logout')}}"> Logout </a> </li>
			</ul>
		</div>
	
		<div>
			<p id="nav-logged">Logged in as: {{user}}</p>
		</div>
		
		<form method="POST">	
	
			<div>
				<nav>
					<button type="submit" name="sandbox" value="compile" style="width:24.7%">Compile</button></a>
					<button type="submit" name="sandbox" value="run" style="width:24.7%">Run</button></a>
					<button type="submit" name="sandbox" value="save" style="width:24.7%">Save</button></a>
					<button type="submit" name="sandbox" value="upload" style="width:24.7%">Upload</button></a>
				</nav>
			</div>

			<div style="float:left">
			<b>Select Timeout (in seconds):</b>
			<select name="timeout">
  				<option value="30">30</option>
  				<option value="60">60</option>
  				<option value="120">120</option>
  				<option value="300">300</option>
  				<option value="600">600</option>
  				<option value="1200">1200</option>
			</select>
			</div>
			<br /><br />
			<div style="float:left;width:59%; height=5vw">
			CODE HERE:
			</div>
	
			<div style="float:right;width:40%; height=5vw">
				OUTPUT HERE:
			</div>
			<br>
			<div>
				<textarea type="text" id="code" name="code" style="font-family:Arial; font-size:12pt; width:59%; height:60vw; float:left;
			background-color:black;color:white">{{code}}</textarea>
			</div>

			<div>
				<textarea disabled type="text" name="output" id="output" style="font-family:Arial; font-size:12pt; width:40%; height:60vw; float:right">{{output}}</textarea>
			</div>
		</form>
		<script type="text/javascript">
		var textareas = document.getElementById('code');
		//textareas.value = "HELLO, WORLD!";
			textareas.onkeydown = function(e){
				if(e.keyCode==9 || e.which==9){
					e.preventDefault();
					var s = this.selectionStart;
					this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
					this.selectionEnd = s+1; 
				}
			}
		
</script>

		</body>
</html>
