<!--Benjamin Byrnes, CMSC461,signup.html-->
<html>
<head>
	<title>C++ Sign up</title>
	<script type="text/javascript">
	
	</script>
	

</head>

<body>
	<table>
        <tr>
            <td>User Name:<br>
            <input type="text" name="UserName" id="UserName"></input>
            </td>
            <td> <div id="UserName"></div></td>
        </tr>
        <tr>
            <td>Password:<br>
                <input type="password"  id="password" name="password"></input>
                 </td>
            <td><div id="Password"></div></td>
        </tr>
		<tr>
			<td> Retype Password:<br>
                <input type="password"  id="Repassword" name="password"></input>
                 </td>
            <td><div id="RePassword"></div></td>
		</tr>
         <tr>
            <td><button type="button" onclick="validate();">Validate</button></td>
            <td><div id="Butt"></div></td>
        </tr>
    </table>
</body>
</html>